body
{
    background-image: url("abstract-food-background-top-view-dark-rustic-kitchen-table-wooden-cutting-board-cooking-spoon-frame-banner-137304354.jpg");
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
}

#container 
{
    text-align: center;
}

#images, #images2, #images3
{
    height: 200px;
    width: 400px;
}

.cake, .chow, .shrimp
{
    background-color: rgb(70, 173, 221);
}

#img , #img2 , #img3
{
    height: 200px;
    width: 400px;
}

h3
{
    color: white;
}

.para
{   
    font-size: 150%;
    color: rgb(252, 228, 19);
}

.list, .olist
{   
    font-size: 110%;
    color: rgb(252, 228, 19);
}


